*{
    margin:0px;
    padding:0px;
}

body
{
    background-image: url(http://i.imgur.com/b9r5sEL.jpg);
    font-size: 10px;
    background-size: cover;
    font-family: sans-serif;
}

.keys
{
    display: flex;
    flex: 1;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    /* position:absolute;
    text-align: center; */
}

.keybutton
{
   border:.4rem solid black;
   border-radius: .5rem;
    padding:1rem .5rem;
    margin:1rem;
    background-color:rgba(0,0,0,0.4);
    transition: all 0.1s ease;
    width: 10rem;
    text-align: center;
    text-shadow: 0 0 .5rem black;
}

.title h1
{
    color:white;
}

p
{
    color:goldenrod;
}

.playing
{
    transform: scale(1.1);
    border-color: goldenrod;
    box-shadow: 0 0 2px 3px goldenrod;
}